doctype html
html
    head


        title=title

        link(rel='stylesheet', href='/bootstrap/css/bootstrap.lumen.min.css')

        script(type='text/javascript', src='/javascripts/jquery.min.js')

        block head
    body
        block content
